:root {
    --oscuro: #134169;
    --claro: #325579;
    --letra: #EDF0DE;
}

body {
    margin: 0;
    padding: 0;
}

/* ENCABEZADO */

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 150px;
    background-color: var(--claro);
    padding: 0 50px 20px 50px;
}

/* ORGANIZACION DEL ENCABEZADO */

.logo_untdf, .logo_index, .iconos {
    display: flex;
    justify-content: center;
}

.iconos {
    width: 30%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.logo_index {
    width: 45%;
}

.logo_untdf {
    width: 25%;
}

/* TAMAÑO DE LOS LOGOS */

/* Asegura que las imágenes no desborden su contenedor */
.logo_untdf img, .logo_index img, .iconos img {
    max-height: 100%; 
    max-width: 100%;
    object-fit: contain;
}

.logo_untdf img {
    height: 50px;
    width: auto;
}

.logo_index img {
    height: 100px;
    width: auto;
}

.iconos img {
    height: 50px;
    margin: 0;
    padding: 0;
}

/* BORDE DEL LOGO PRINCIPAL*/

#borde {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oscuro);
    border-radius: 100%;
    width: 120px;
    height: 120px;
}


/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        height: auto;
        padding: 20px;
    }

    .iconos {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .logo_untdf {
        width: 150px;
    }

    .logo_index {
        width: 150px;
    }
}

/* MEDIA QUERY PARA PANTALLAS MEDIANAS */
@media (min-width: 769px) and (max-width: 1150px) {
    /* Hacer que el logo SIU ocupe el 100% del ancho disponible */
    .logo_siu {
        width: 100%;
        height: auto;
    }
}

/* MENU DE NAVEGACION */

nav {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -25px;
    font-size: 1.5rem;
}

/* ORGANIZACIÓN DEL MENU PRINCIPAL */

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: var(--oscuro);
    border-radius: 40px;
    display: flex;
    align-items: center;
    height: 3rem;
}

.menu-item {
    position: relative;
    height: 2em;
    flex-grow: 1;
}

.menu-item > a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-item > a:hover {
    background-color: var(--claro);
}

.menu a {
    position: relative;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.ultimo-item {
    border-radius: 0 40px 40px 0;
}

/* ORGANIZACION DE LOS SUBMENUS */

.submenu {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 100%;
    border-radius: 0 0 10px 10px;
    list-style-type: none;
    background-color: var(--claro);
    top: 100%;
    left: 0;
}

.submenu-item {
    display: flex;
}

.submenu-item a {
    flex-grow: 1;
    padding: 5px 10px;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    text-align: left;
}

.submenu-item > a:hover {
    background-color: #444;
}

.menu-item:hover .submenu {
    display: flex;
    flex-direction: column;
}

.ultimo-subitem {
    border-radius: 0 0 10px 10px;
}

/* DECORACIONES EXTRA */

.flecha {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: white transparent transparent transparent;
}

.borde {
    background-color: white;
    height: 80%;
    width: 3px;
    border-radius: 10px;
}

/* Redondear bordes extremos*/

.menu-item:last-child a:hover {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.submenu-item:last-child a:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menu-item:first-child > a:hover {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.menu-item:first-child .submenu {
    margin-left: 20px;
}