:root {
    --principal: rgba(20, 26, 121, 0);
    --azul: #134169;
    --letra: #EDF0DE;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 0;
    color: var(--principal);
}

/* NOTICIAS */

.noticia {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 600px;
    background: url('../../img/noticia_ej1.jpg');
}

.noticia::before {
    content: "";
    position: absolute;
    top: 170px;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #7EBED657;
    z-index: 0;
}

/* DESPLAZAMIENTO */

.flecha-izquierda, .flecha-derecha {
    flex-shrink: 0;
    display: inline-block;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}
  
.flecha-izquierda:hover, .flecha-derecha:hover {
    background-color: rgba(173, 216, 230, 0.5);
}

/* INFORMACION*/
.info {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: var(--letra);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    z-index: 2;
    width: 500px;
    height: 150px;
}
  
.info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
  
.info p {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1em;
    margin-bottom: 15px;
}

.info-espacio {
    height: 10px;
    width: 100px;
}

/* NOTICIA */
  
.leer-mas {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    background-color: var(--azul);
    padding: 10px;
    border-radius: 5px;
}
  
.leer-mas .decoracion {
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.leer-mas:hover {
    color: #00bfff; /* Azul claro */
}

.leer-mas:hover .decoracion {
    transform: translateX(5px); /* Desplaza la flecha hacia la derecha */
}


/* CLASES PARA ANIMACIÓN DE NOTICIA */

.noticia {
    transition: opacity 0.5s ease-in-out;
}

.noticia.fade-out {
    opacity: 0;
}

.noticia.fade-in {
    opacity: 1;
}

/* CALENDARIO ACADEMICO */

.titulo-calendario {
    background-color: #F5F6EE;
    color: var(--azul);
    margin: 0;
    padding: 40px;
}

#calendario-dinamico {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: center;
    background-color: var(--gris-claro);
    max-width: 100%;
}

/* MEDIA QUERY PARA PANTALLAS PEQUEÑAS */
@media (max-width: 768px) {
    .noticia::before {
        top: 310px;
    }

    .info {
        padding-bottom: 60px;
        margin-bottom: 70px;
    }

    .info-espacio {
        display: none;
    }

    .flecha-derecha, .flecha-izquierda {
        align-items: flex-end;
        padding-bottom: 120px;
    }
}